.user-activities{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.layout-data{
    display: flex;
    flex-direction: column;
    width: 76%;
}
.layout-row{
    display: flex;
    flex-direction: row;
}
.flex-row{
    width: 750px;
    height: 320px;
    align-items: center;
    padding-left: 40px;
    margin-top: 30px;
}
.title{
    width: 70%;
    padding: 50px 45px;
}
.title h1{
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 20px;
}
.title span{
    color: #ff0000;
}
.four-data{
    width:22%;
    height: 100%;
    border-radius: 5px;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.four-data img{
    height: 60px;
    width: 60px;
}
.liste{
    display: flex;
    flex-direction: row;
    background-color: #fbfbfb;
    height: 120px;
    width: 220px;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}
.inside-circle{
    background-color: white;
    width: 174px;
    height: 174px;
    border-radius: 99%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}